.container-tugas10 {
    margin: 10px 25% 0 25%;
    padding: 15px;
}

table {
    border: 1px solid black;
}

h1 {
    text-align: center;
}

th {
    background-color: gray;
    text-align: center;
}

tr {
    background-color: orangered;
}